body{
margin-top:400px;
font-family:sans-serif;
background-color;
}
.gallery{
margin-top:200px;
background-color:#A9A9A9;
margin:10px;
border:1px solid #ccc;
float:left;
width:390px;
}
h1{
	position:absolute;
	top:150px;
	color:white;
}
.gallery img{
	top:2000px;
	
width:100%;
height:auto;
filter:grgayscale(100%);
transition:0.2s;
}
.gallery img:hover{
filter:grayscale(0);
transform:scale(1,1);
}
.desc{
color:white
background-color:#ff9933;
padding:10px;
text-align:center;
}
body
	{
		background-image:url(camera.jpg);
		font-family:Arial;
		background-size:cover;
		left:50px;
		margin:100px;
		margin-left:275px;
				
	}
.active
{
	background-color:#ff9933;
	border:1px solid white;
	
}
ul
{
	top:100px;
	background-color:#ff9933;

	list-style:none;
	opacity:1;
}
ul li
{
	float:left;
	
	width:150px;
	padding:0px;
	height:30px;
		
	opacity:1;
	line-height:30px;
	text-align:center;
	font-size:15px;
	
}

ul li a{
	text-decoration:none;
	color:white;
	display:block;
	border:1px;
}
ul li a:hover
{
	background-color:#ff9933;
	border:1px solid white;
	border-bottom:1px double #fff;
	border-radius:1px;
	
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
	opacity:1;
	border-bottom:1px;
}
.logo img
	{
		position:absolute;
		width:159px;
		height:auto;
		float:left;
		left:185px;
		top:90;
		
		
		margin-left:-150px;
	}