*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
body{
	margin-top:2000;
	padding:0;
	text-align:center;
	background:url(camera.jpg);
	background-size:cover;
	font-family:Century Gothic;
}
